<br /><br /><br /><br />
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="event_form">
        <%= render 'shared/event_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Event Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>Welcome to Travelio</h1>

  <h2>
  
    <a href="http://www.travel.io/">Travel.io</a>
    
  </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>
<div class="container">
       <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

        <!-- Projects Row -->
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="../events">
                <img class="img-responsive" src="/assets/clock.jpg" alt="">
            </a>
            <h3>
                <%= link_to "Events", events_path %>
            </h3>
            <p>Find nearby Events</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="../restaurants">
                <img class="img-responsive" src="/assets/coffee.jpg" alt="">
            </a>
            <h3>
                <%= link_to "Restaurants", restaurants_path %>
            </h3>
            <p>Search here to order food from your favourite restaurant.</p>
        </div>
    </div>
     <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="../events">
                <img class="img-responsive" src="/assets/events.jpg" alt="">
            </a>
            <h3>
                <%= link_to "Promotions", events_path %>
            </h3>
            <p>Check Latest Promotions in your area.</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="../events">
                <img class="img-responsive" src="/assets/restro.jpg" alt="">
            </a>
            <h3>
                <%= link_to "Shopping", events_path %>
            </h3>
            <p>Find famious shopping malls & places nearby.</p>
        </div>
        </div>